<main>
  <div class="card">
    <div class="image">
      <img src="{{ clothing?.imageUrl }}" />
    </div>
    <div class="text-area">
      <h2>{{ clothing?.title }}</h2>
      <p class="category">Category: {{ clothing?.category }}</p>
      <p class="price">Price: {{ clothing?.price }}$</p>
      <p class="description">Description: {{ clothing?.description }}</p>
      <div class="buttons">
        <button>Show Comments</button>
        <div class="loggedInButtons" *ngIf="isOwner()">
          <button routerLink="/store/{{clothing?._id}}/edit">Edit</button>
          <button (click)="onDelete()">Delete</button>
        </div>
      </div>
    </div>
  </div>
</main>
