<main>
    <div class="about">
      <div class="text-area">
        <h1>Welcome to Fashion Shop,</h1>
        <p>
          where style meets sophistication. Explore our curated collection of the
          latest trends in fashion, from timeless classics to contemporary
          must-haves. Whether you're a fashion enthusiast looking to elevate your
          wardrobe or a seller seeking to showcase your creations, we provide a
          platform for everyone. Our diverse selection caters to every style and
          occasion, ensuring that both buyers and sellers find what they're
          looking for. Step into a world of elegance and discover your signature
          look with us today.
        </p>
      </div>
    </div>
    <div class="contact">
      <form #contactForm="ngForm">
        <h1>Contact Us</h1>
        <input type="text" name="email" id="email" placeholder="Email" ngModel />
        <textarea
          type="text"
          name="content"
          id="content"
          placeholder="Content"
          ngModel
        ></textarea>
        <button routerLink="/">Submit</button>
      </form>
    </div>
  </main>