.container {
  height: 78vh; 
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-area {
  text-align: center;
}

.text-area h1 {
  border-bottom: 1px solid black;
  padding-bottom: 10px; 
}

.text-area p {
  padding-top: 10px;
}