<main>
  <div class="container">
    <form #contactForm="ngForm">
      <h1>Register</h1>
      <div class="form-group">
        <label for="email">Email</label>
        <input type="text" name="email" id="email" ngModel />
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="text" name="password" id="password" ngModel />
      </div>
      <div class="form-group">
        <label for="repassword">Repeat password</label>
        <input type="text" name="repassword" id="repassword" ngModel />
      </div>
      <button>Register</button>
      <p>You already have an account? Login <a routerLink="/login">here</a>!</p>
    </form>
  </div>
</main>
