.header-line {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 5em;
    padding-right: 5em;
    background-color: white;
}

.header-line nav ul {
    display: flex;
    list-style-type: none;
    gap: 2em;
    align-items: center;
}

.header-line nav ul li a {
    text-decoration: none;
    color: black;
    font: 16px/1.5 'Cormorant Infant', 'serif';
}

.site-title {
    display: block;
    width: 100px;
    height: 100px;
    overflow: hidden;
    text-indent: -150vw;
    background-image: url('../../../assets/images/logo1.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.login, .register, .logout {
    background-color: rgba(255,213,201,255);
    border-radius: 2em;
    padding: 10px;
}

.add-item:hover, .logout:hover {
    cursor: pointer;
}